h1,
h2,
h3,
h4,
p,
b {
  margin: 0;
}

a {
  color: inherit;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
}

.container {
  padding-inline: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.icon {
  display: block;
}

.clients__title, .team__title, .activities__title {
  margin-bottom: 30px;
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-inline: 15px;
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
.page-header__container {
  display: flex;
}
.page-header__link {
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
@media (min-width: 768px) {
  .page-header__link {
    margin-right: 87px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.page-header__logo--accent {
  color: #2196f3;
}
.page-header__contacts {
  position: absolute;
  bottom: 134px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  gap: 32px;
}
@media (min-width: 768px) {
  .page-header__contacts {
    position: static;
    gap: 10px;
    flex-direction: column;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
.page-header__contact {
  flex-grow: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__contact:hover, .page-header__contact:focus {
  color: #2196f3;
  cursor: pointer;
}
@media (min-width: 768px) {
  .page-header__contact {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
  }
}
.page-header__phone-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media (min-width: 768px) {
  .page-header__phone-link {
    font-size: 12px;
    color: #757575;
  }
}
.page-header__social-media {
  position: absolute;
  bottom: 48px;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media (min-width: 768px) {
  .page-header__social-media {
    display: none;
  }
}
.page-header__media {
  padding-right: 10px;
}
.page-header__media:nth-child(n+2) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.page-header__mail {
  display: none;
}
@media (min-width: 768px) {
  .page-header__mail {
    display: block;
    width: 14px;
    height: 10px;
  }
}
.page-header__phone {
  display: none;
}
@media (min-width: 768px) {
  .page-header__phone {
    display: block;
    width: 10px;
    height: 14px;
  }
}

.nav__list-item:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .nav__list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
    gap: 50px;
  }
}
.nav__item, .nav__item:visited {
  color: #212121;
  font-size: 40px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:hover, .nav__item:focus {
  color: #2196f3;
}
@media (min-width: 768px) {
  .nav__item, .nav__item:visited {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .nav__item--current {
    position: relative;
    overflow: hidden;
    color: #2196f3;
  }
}
@media (min-width: 768px) {
  .nav__item--current:visited {
    color: #2196f3;
  }
}
@media (min-width: 768px) {
  .nav__item--current::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}
.nav__btn {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;
}
.nav__btn:hover, .nav__btn:focus {
  fill: #2196f3;
}
@media (min-width: 768px) {
  .nav__btn {
    display: none;
  }
}
.nav__btn .mobile-menu__close {
  opacity: 0;
  transform: skew(-45deg, -45deg);
  transition-property: opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__btn .mobile-menu__open {
  opacity: 1;
  transform: skew(0, 0);
  transition-property: opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__btn.is-open .mobile-menu__close {
  opacity: 1;
  transform: skew(0, 0);
  transition-property: opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__btn.is-open .mobile-menu__open {
  opacity: 0;
  transform: skew(45deg, 45deg);
  transition-property: opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__btn.is-open + .mobile-menu {
  transform: translateX(-100%);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100vw;
  padding: 38px 40px;
  background-color: #fff;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .mobile-menu {
    position: static;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.social-media__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: #2196f3;
  color: #fff;
}
.social-media__icon {
  width: 20px;
  height: 20px;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}
.page-footer__link {
  display: block;
  margin-bottom: 20px;
  margin-inline: auto;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1666666667;
  font-weight: 700;
  color: #fff;
}
.page-footer__logo--accent {
  color: #2196f3;
}
.page-footer__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.page-footer__icons {
  margin-bottom: 60px;
}
.page-footer__icon {
  color: #fff;
}

.address__item {
  display: block;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__item:last-child {
  margin-bottom: 60px;
}
.address__item + .address__item {
  opacity: 0.6;
}
.address__link, .address__link:visited {
  display: block;
  z-index: 0;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7142857143;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
  z-index: 0;
}

.subscribe__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__icon {
  display: inline;
  width: 24px;
  height: 24px;
}

.submit-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  margin-inline: auto;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.hero {
  width: 100%;
  width: 100%;
  height: auto;
  margin-top: 60px;
  text-align: center;
  padding: 118px 60px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bcg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .hero {
    margin-top: 80px;
  }
}
.hero__heading {
  margin: 0 auto 30px;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__btn {
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.features__item {
  margin-bottom: 30px;
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__img {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.features__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #212121;
}
.features__text {
  line-height: 1.71;
}

.activities {
  display: none;
}
.activities__list {
  display: flex;
  gap: 30px;
}
.activities__item {
  position: relative;
}
.activities__descr {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  display: block;
  text-align: center;
}
.team__item {
  display: block;
  margin-bottom: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.team__photo {
  width: 100%;
  height: auto;
}
.team__descr {
  padding-top: 30px;
  padding-bottom: 24px;
}
.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 10px;
}
.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  width: calc(50% - 15px);
  height: 92px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}
.clients__first-icon {
  width: 41px;
  height: 47px;
}
.clients__second-icon {
  width: 40px;
  height: 52px;
}
.clients__third-icon {
  width: 43px;
  height: 41px;
}
.clients__fourth-icon {
  width: 84px;
  height: 41px;
}
.clients__fifth-icon {
  width: 63px;
  height: 45px;
}
.clients__sixth-icon {
  width: 94px;
  height: 44px;
}

.products {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.products__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 326px;
  margin-bottom: 50px;
  margin-top: 60px;
}
.products__btn {
  padding: 6px 22px;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__btn:hover, .products__btn:focus {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.products__item {
  width: 100%;
  margin-bottom: 30px;
}
.products__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover, .products__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.products__link:hover .products__descr, .products__link:focus .products__descr {
  transform: translateY(-100%);
}
.products__name {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}
.products__title {
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #212121;
}
.products__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 2.25;
}
.products__img {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 294px;
}
.products__photo {
  position: absolute;
  top: -40px;
  width: 100%;
  height: auto;
}
.products__descr {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-visually-hidden .modal {
  transform: translate(-50%, -50%);
  opacity: 0;
}

.is-visually-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__close:hover .modal__close-icon, .modal__close:focus .modal__close-icon {
  fill: #2196f3;
}
.modal__close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}
.feedback-form__field {
  position: relative;
  margin-bottom: 10px;
}
.feedback-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.feedback-form__input {
  display: block;
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__input:hover, .feedback-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.feedback-form__comment {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__comment:hover, .feedback-form__comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.feedback-form__comment::-moz-placeholder {
  letter-spacing: 0.01em;
  line-height: 1.1428571429;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-form__comment:-ms-input-placeholder {
  letter-spacing: 0.01em;
  line-height: 1.1428571429;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-form__comment::placeholder {
  letter-spacing: 0.01em;
  line-height: 1.1428571429;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-form__terms {
  color: #2196f3;
}
.feedback-form__submit {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.feedback-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  pointer-events: none;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__terms-label {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.1666666667;
}
.feedback-form__checkbox-icon {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url(../../images/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.feedback-form__checkbox:checked + .feedback-form__checkbox-icon {
  background-image: url(../../images/icon-check.svg);
}
.feedback-form__input:hover + .feedback-form__icon, .feedback-form__input:focus + .feedback-form__icon {
  fill: #2196f3;
}/*# sourceMappingURL=main.css.map */