.features {
  @media screen and (min-width: $computer) {
    padding-bottom: 0;
  }

  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      margin: 0 auto;
    }
  }

  &__item {
    @media screen and (max-width: $tablet) {
      margin: 0 auto;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $mobile) {
      width: 450px;
    }

    @media screen and (min-width: $tablet) {
      width: 354px;
    }
    @media screen and (min-width: $computer) {
      width: 270px;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__img {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    background-color: $grey-button;
  }

  &__title {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    color: $black-text;

    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }

  &__text {
    line-height: calc(24 / 14);
  }
}
