.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $black-background;
  text-align: center;

  @media screen and (min-width: $computer) {
    text-align: left;
  }

  &__container {
    @media screen and (min-width: $computer) {
      display: flex;
      align-items: baseline;
    }
  }

  &__tablet {
    @media screen and (min-width: $tablet) {
      display: flex;
      gap: 165px;
      justify-content: center;
    }
    @media screen and (min-width: $computer) {
      display: flex;
      gap: 70px;
      align-items: baseline;
    }
  }

  &__link {
    display: block;
    margin-bottom: 20px;
    margin-inline: auto;

    text-decoration: none;
    font-family: $logo-font;
    font-size: 26px;
    line-height: calc(28 / 24);
    font-weight: 700;

    color: $white;

    @media screen and (min-width: $computer) {
      width: 200px;
    }
  }

  &__logo--accent {
    color: $accent;
  }

  &__title {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;

    text-transform: uppercase;
    text-decoration: none;

    color: $white;
  }

  &__icons {
    margin-bottom: 60px;

    @media screen and (min-width: $computer) {
      margin-bottom: 0;
    }
  }

  &__icon {
    color: $white;
  }
}

.address {
  &__item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 8px;
      @media screen and (min-width: $computer) {
        margin-bottom: 9px;
      }
    }

    &:last-child {
      margin-bottom: 60px;
      @media screen and (min-width: $computer) {
        margin-bottom: 0;
      }
    }

    & + & {
      opacity: 0.6;
    }
  }

  &__link {
    display: block;
    z-index: 0;

    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    line-height: calc(24 / 14);

    color: $white;

    transition: color 250ms $cubic;

    &:visited {
      @extend .address__link;
    }

    &:hover,
    &:focus {
      color: $accent;
      z-index: 0;
    }
  }
}

.subscribe {
  @media screen and (min-width: $computer) {
    margin-right: 0;
    margin-left: auto;
  }
  &__input {
    display: block;

    width: 100%;
    max-width: 450px;

    height: 50px;
    padding: 15px;
    margin-inline: auto;
    margin-bottom: 20px;

    color: $white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
      margin-inline: auto;
    }

    @media screen and (min-width: $computer) {
      width: 358px;
      margin-bottom: 0;
    }

    &::placeholder {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__icon {
    display: inline;
    width: 24px;
    height: 24px;
  }

  &__container {
    display: block;
    @media screen and (min-width: $computer) {
      display: flex;
      gap: 10px;
    }
  }
}

.submit-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  padding: 10px 28px;
  margin-inline: auto;
  border: none;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;

  border-radius: 4px;
  background-color: $accent;
  color: $white;

  cursor: pointer;
  @media screen and (min-width: $computer) {
    margin-inline: 0;
  }
}
