.hero {
  width: 100%;
  height: auto;

  text-align: center;
  padding: 118px 60px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../images/hero-bcg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__heading {
    margin: 0 auto 30px;

    color: $white;

    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media (min-width: $computer) {
      width: 696px;
      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }

  &__btn {
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    border-radius: 4px;

    color: $white;
    background-color: $accent;
    border: none;

    font-family: $main-font;
    font-weight: 700;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.88;

    cursor: pointer;
    @media (min-width: $computer) {
      min-width: 216px;
    }
  }
}
