.team {
  background-color: $grey-button;

  

  &__title {
    @extend %title;
  }

  &__list {
    display: block;

    
    text-align: center;

    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
  }

  &__item {
    display: block;

    margin-bottom: 30px;
    

    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $white;

    @media (max-width: $tablet) {
      margin-inline: auto;
    }

    @media (min-width: $mobile) {
      width: 450px;
    }

    @media (min-width: $tablet) {
      width: 354px;
      margin-bottom: 0;
    }

    @media (min-width: $computer) {
      width: 270px;
    }
  }

  &__photo {
    width: 100%;
    height: auto;
  }

  &__descr {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__name {
    color: $black-text;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);

    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: calc(19 / 16);
  }
}
