h1,
h2,
h3,
h4,
p,
b {
  margin: 0;
}

body {
  min-width: 320px;
  max-width: 100vw;

  font-family: $main-font;
  color: $grey-text;
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
}

.container {
  padding-inline: 15px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $computer) {
    width: $computer;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: $computer) {
    padding-block: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon {
  display: block;
}

%title {
  margin-bottom: 30px;
  text-align: center;

  color: $black-text;

  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);

  @media (min-width: $computer) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
